<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pandemic Parlor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.0/firebase-analytics.js"></script>
    
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyDvQmnFVhnz-_nK0HMPvu1tJhqQ1uRwg84",
            authDomain: "pandemicparlour.firebaseapp.com",
            databaseURL: "https://pandemicparlour.firebaseio.com",
            projectId: "pandemicparlour",
            storageBucket: "pandemicparlour.appspot.com",
            messagingSenderId: "236537749378",
            appId: "1:236537749378:web:29f7268ebb30b39f1ef99b",
            measurementId: "G-TB9BSXCS7G"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</head>

<body>
    <div class="container">
        <h1 class="header">Pandemic Parlour</h1>
        <a class="btn" href="/guitars"><i class="material-icons right">arrow_forward</i>Get started!</a>
    </div>

</body>

</html>