<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pandemic Parlor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- **********************************************
         * TODO(DEVELOPER): Use your Client ID below. *
         ********************************************** -->
    <!-- <meta name="google-signin-client_id" content="236537749378-pulij6j272kd3gcs13hljtu9k9283kht.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email"> -->

</head>

<body>
    <div class="container">
        <h1 class="header">Pandemic Parlor</h1>
        <a class="btn" href="/games"><i class="material-icons right">arrow_forward</i>Get started!</a>
        <% if (authUrl) {  %>
            <a class="btn" href="<%-authUrl%>"><i class="material-icons left">arrow_forward</i>Login with Google</a>
        <% } %>
    </div>

    <div class="content">
        <% if (userFullName) { %>
            <h3 class="header">Welcome <%-userFullName%> ! </h3>
        <% } else { %>
            <h3 class="header">Welcome friend!</h3>
        <% } %>
    </div>

</body>

</html>