.App {
  margin-top: 15px;
}

.App .app-logo {
    margin: auto;
    // height: 150px;
}

.Home .App-header {
  text-align: center;
  padding-top: 50px;
}

.Home .lander {
    padding: 40px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

.Home .lander p {
    color: #999;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    margin: auto;
    width: 50%;
    // border: 3px solid green;
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
