.App .navbar-brand {
  font-weight: bold;
}

.App .navbar-brand>img {
  padding: 7px 14px;
  height: 75px;
  margin: auto;
}

.App {
  margin-top: 15px;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .SignUp {
    padding: 60px 0;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    text-align: center;
  }
}
